/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 4:11:26 PM
    Author     : sharon
*/

@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    font-family: 'Lato', sans-serif;
    /*background: url(../img/trialweb.jpg) no-repeat center center fixed;*/
    background-size: cover;
    margin-top: 0px;
    
}

.main-section{
    margin: 0 auto;
    margin-top: 100px;
    padding:0;
    
}

.modal-content{
    margin-top: 0px;
    background-color: #666666;
    opacity: .95%;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}

.user-image{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-image img {
    height:170px;
    width:210px;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    border:0;
    font-size: 18px;
    padding-left:54px;
}

.form-group::before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 28px;
    padding-top:4px;
    
}

.form-group:last-of-type::before{
    content:"\f0e0";
}

button {
    width: 40%;
    margin:5px 0 25px;
}

.btn{
    background-color: #fdcf1f;
    color: #000000;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #dda227;
}

.btn:hover, .btn:focus{
    background-color:#e7af25!important;
    border-bottom: 4px solid #e7af25!important;
}

.svg-inline--fa{
    font-size:20px;
    margin-right:7px;
}

.forgot{
    padding: 5px 0 25px;
}

.forgot a{
    color: #ffe268;
}